<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDisplayName</key>
    <string>Bandsintown</string>
    <key>DDNotificationExternalProviderClasses</key>
    <dict>
      <key>BandsintownContactPhotoProvider</key>
      <string>com.bandsintown.bit</string>
    </dict>
    <key>DDNotificationExternalProviderAPIVersion</key>
    <integer>1</integer>
  </dict>
</plist>
